.notice-cont{
    .router-link-exact-active{
        display: block;
        width: 100%;
        height: 50px;
        text-decoration: none;
        color: #fff;
        border-bottom: 0.5px solid rgba(255, 255, 255, .2);
    }
    .router-link{
        display: block;
        width: 100%;
        height: 50px;
        text-decoration: none;
        color: #fff;
        border-bottom: 0.5px solid rgba(255, 255, 255, .2);
    }
    .router-link:last-child{
        border-bottom: none;
    }
}