.sidebar-msg{
    .mint-cell{
        background: rgba(255, 255, 255, .05);
        color: #fff;
        border-radius: 6px;
        text-align: left;
    }
    .mint-cell:last-child{
        background-image: none;
    }
    .mint-cell-wrapper{
        background-image: none;
        padding: 0 15px;
    }
    .mint-cell-value{
        color: #fff;
        font-size: 12px;
        margin-right: 13px;
    }
    .mint-cell-title{
        font-size: 14px;
    }
    .mint-cell-value.is-link {
        margin-right: 17px;
    }
    .picker-center-highlight{
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
}
