// mint-ui 全局样式
.mint-msgbox{
    border-radius: 6px;
    overflow: hidden;
}
.mint-msgbox-title{
    font-size: 19px;
    color: #222;
    font-weight: 100;
}
.mint-msgbox-message{
    line-height: 25px;
    color: #222;
}
.mint-msgbox-content{
    padding-top: 18px;
    padding-bottom: 24px;
    border: none;
}
.mint-msgbox-btns{
    width: 100%;
    height: auto;
    justify-content: center;
}
.mint-msgbox-btn{
    width: 88px;
    height: 32px;
    line-height: 32px;
    flex: none;
    border-radius: 6px;
    font-size: 16px;
}
.mint-msgbox-cancel{
    margin-right: 10px;
    padding: 1px;
    color: #222;
    border: 1px solid #eee;
    margin-bottom: 20px;
}
.mint-msgbox-confirm{
    background-image: -webkit-gradient(linear, left top, right top, from(#19e1c8), to(#1179d2));
    color: #fff;
}
// 提示框按钮变化
.active-but{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    background-image: linear-gradient(to right, #19e1c8, #1179d2)
}
// coach二维码模板字符串
.send-img-box{
    display: inline-block;
    width: 27px;
    height: 27px;
    background: url(../../images/sidebar/send/Sentsuccessfully_def.png) no-repeat;
}
.send-img-erweima{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-top: 17px;
    margin-bottom: 10px;
    background: url(../../images/sidebar/sidebar_Upload_bat@2x.png) no-repeat;
    background-size: cover;
}