// 上传头像
.side-user-head-portrait{
    .mint-actionsheet-button{
        border-radius: 6px;
        margin-bottom: 26px;
    }
    .mint-actionsheet-listitem:first-child{
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .mint-actionsheet-listitem:last-child{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
}
