@font-face {
    font-family: 'DINCond-Bold';
    src: url('../fonts/DINCond/Bold.otf'), url('../fonts/DINCond/Bold.otf') format('svg');
}
@font-face {
    font-family: 'OPPOSansL';
    src: url('../fonts/OPPOSans/L.ttf') format('truetype');
}
@font-face {
    font-family: 'OPPOSansM';
    src: url('../fonts/OPPOSans/M.ttf') format('truetype');
}
@font-face {
    font-family: 'OPPOSansR';
    src: url('../fonts/OPPOSans/R.ttf') format('truetype');
}
@font-face {
    font-family: 'Akrobat-Bold';
    src: url('../fonts/Akrobat/Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Akrobat-ExtraLight';
    src: url('../fonts/Akrobat/ExtraLight.ttf') format('truetype');
}