.body-assess-model {
  background-image: url(../../assets/images/report_ground_bg.png);
  background-size: 100% 62px;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 36px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 320px;
}
.body-assess-model .person-img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2px;
  margin-top: 10px;
  background-image: url(../../assets/images/report_moxing_bg.png);
  background-size: 135px 57px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.body-assess-model .person-img img {
  display: block;
  width: 121px;
  height: 260px;
  margin-bottom: 24px;
}
.body-assess-model .model-failed .person-failed-img {
  margin-top: 10px;
}
.body-assess-model .assessing-model-result {
  display: flex;
  height: 100%;
}
.body-assess-model .assessing-model-result .no-bs-data {
  width: 100% !important;
}
.body-assess-model .assessing-model-result .person-img {
  padding-left: 0 !important;
  width: 56%;
}
.body-assess-model .assessing-model-result .assessting-slide {
  width: 145px;
  margin-left: 20px;
  position: relative;
}
.body-assess-model .assessing-model-result .assessting-slide .swipe-wrapper .swipe-items {
  height: 105px;
  margin-top: 90px;
  background-color: #272944;
  opacity: 0.8;
  color: #fff;
  padding: 0 9.5px;
}
.body-assess-model .assessing-model-result .assessting-slide .swipe-wrapper .swipe-items .title-nav {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
}
.body-assess-model .assessing-model-result .assessting-slide .swipe-wrapper .swipe-items .slide-list {
  font-size: 11px;
  text-align: left;
}
.body-assess-model .assessing-model-result .assessting-slide .swipe-wrapper .swipe-items .slide-list > p {
  display: flex;
  justify-content: space-between;
  line-height: 1.64;
}
.body-assess-model .assessing-model-result .assessting-slide .swipe-wrapper .swipe-items .slide-list > p .error-color {
  color: #ff1c1c;
}
.body-assess-model .assessing-model-result .assessting-slide .swipe-wrapper .mint-swipe-indicators {
  bottom: 66px;
}
.body-assess-model .assessing-model-result .assessting-slide .swipe-wrapper .mint-swipe-indicators .mint-swipe-indicator {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(225, 225, 225, 0.2);
  opacity: 1;
}
.body-assess-model .assessing-model-result .assessting-slide .swipe-wrapper .mint-swipe-indicators .mint-swipe-indicator.is-active {
  background-color: #fff;
}
.body-assess-model .assessing-model-result .assessting-slide .button-wrapper {
  position: absolute;
  top: 100px;
  left: 9px;
}
.body-assess-model .assessing-model-result .assessting-slide .button-wrapper .next-button {
  position: absolute;
  top: 0;
  left: 112px;
}
.neck-assess {
  background-image: url(../../assets/images/report_ground_bg.png);
  background-size: 100% 62px;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 36px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 320px;
}
.neck-assess .person-img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2px;
  margin-top: 10px;
}
.neck-assess .person-img img {
  display: block;
  width: 96px;
  height: 259px;
  margin-bottom: 24px;
}
.shoulder-assess {
  background-image: url(../../assets/images/report_ground_bg.png);
  background-size: 100% 62px;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 36px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 320px;
}
.shoulder-assess .person-img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2px;
  margin-top: 10px;
}
.shoulder-assess .person-img img {
  display: block;
  height: 259px;
  margin-bottom: 24px;
}
/*颈部评估数据部分*/
.neck-assess-data .result-failed-tip {
  min-height: initial;
}
.neck-assess-data .result-failed-tip > div {
  padding: 37px 0;
}
.neck-assess-data .detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.neck-assess-data .detail-content .neck-assessment-list {
  background-color: #10122d;
  margin-bottom: 24px;
  color: #fff;
  text-align: left;
  padding: 0 10px;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-list {
  padding: 10px 0;
  font-size: 12px;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-list .thermal-item {
  display: flex;
  line-height: 32px;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-list .thermal-item .name {
  width: 28%;
  margin-left: 6px;
  display: flex;
  align-items: center;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-list .thermal-item .name img {
  margin-left: 6px;
  width: 16px;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-list .thermal-item .val {
  width: 40%;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-list .thermal-item .status {
  width: 10%;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-list .thermal-item .status-color {
  color: #ff2121;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-list .thermal-item .diff-val {
  width: 18%;
  text-align: center;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-problem {
  padding: 15px 0;
  font-size: 14px;
  border-top: 1px solid #2b2d40;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-problem p {
  line-height: 1.29;
  padding-left: 28px;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-problem .name {
  background: url(../../assets/images/svg/asse_msg_icon.svg) no-repeat left center;
  background-size: 19px 19px;
  line-height: 22px;
  margin-bottom: 4px;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-problem .title {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  line-height: 17px;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-problem .msg {
  display: flex;
  margin-top: 8px;
  margin-bottom: 16px;
  padding-left: 28px;
  font-weight: 400;
  font-size: 12px;
  font-weight: 300;
  color: #898f99;
  line-height: 18px;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-problem .advice {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 300;
  color: #898f99;
  line-height: 18px;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-problem .head {
  padding: 0;
  width: 36px;
}
.neck-assess-data .detail-content .neck-assessment-list > div.data-problem .content {
  padding: 0;
}
.neck-assess-data .asse-btn-action {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}
.neck-assess-data .asse-btn-action img {
  width: 200px;
  height: 40px;
}
/*体态评估数据部分*/
.body-assess-data .result-failed-tip {
  min-height: initial;
}
.body-assess-data .result-failed-tip > div {
  padding: 37px 0;
}
.body-assess-data .detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body-assess-data .detail-content .body-assessment-list {
  background-color: #10122d;
  margin-bottom: 24px;
  color: #fff;
  text-align: left;
  padding: 0 10px;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list {
  padding: 10px 0;
  font-size: 12px;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list .thermal-item {
  display: flex;
  line-height: 32px;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list .thermal-item .name {
  width: 35%;
  margin-left: 6px;
  display: flex;
  align-items: center;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list .thermal-item .name img {
  margin-left: 6px;
  width: 16px;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list .thermal-item .val {
  width: 24%;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list .thermal-item .val.leg {
  margin-top: -12px;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list .thermal-item .diff {
  width: 22%;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list .thermal-item .diff.leg {
  margin-top: -12px;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list .thermal-item .upper-span {
  width: 34.7%;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list .thermal-item .upper-span i {
  font-style: normal;
  font-size: 11px;
}
.body-assess-data .detail-content .body-assessment-list > div.data-list .thermal-item .status-color {
  color: #ff2121;
}
.body-assess-data .detail-content .body-assessment-list > div.data-problem {
  padding: 15px 0;
  font-size: 14px;
  border-top: 1px solid #2b2d40;
}
.body-assess-data .detail-content .body-assessment-list > div.data-problem p {
  line-height: 1.29;
  padding-left: 28px;
}
.body-assess-data .detail-content .body-assessment-list > div.data-problem .name {
  background: url(../../assets/images/svg/asse_msg_icon.svg) no-repeat left center;
  background-size: 19px 19px;
  line-height: 22px;
}
.body-assess-data .detail-content .weight-offset-data {
  width: 100%;
  background-color: #10122d;
  margin-bottom: 40px;
  color: #fff;
  padding: 0 10px;
  font-size: 14px;
}
.body-assess-data .detail-content .weight-offset-data .offset-info {
  padding: 16px 0;
}
.body-assess-data .detail-content .weight-offset-data .offset-info div {
  position: relative;
}
.body-assess-data .detail-content .weight-offset-data .offset-info div img {
  width: 45%;
}
.body-assess-data .detail-content .weight-offset-data .offset-info div span {
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  line-height: 19px;
}
.body-assess-data .detail-content .weight-offset-data .offset-info div span:first-of-type {
  top: 28px;
  right: 180px;
  text-align: right;
}
.body-assess-data .detail-content .weight-offset-data .offset-info div span:nth-of-type(2) {
  top: 28px;
  left: 180px;
  text-align: left;
}
.body-assess-data .detail-content .weight-offset-data .offset-info div span:nth-of-type(3) {
  bottom: 30px;
  right: 180px;
  text-align: right;
}
.body-assess-data .detail-content .weight-offset-data .offset-info div span:nth-of-type(4) {
  bottom: 30px;
  left: 180px;
  text-align: left;
}
.body-assess-data .detail-content .weight-offset-data .offset-info p {
  text-align: left;
  line-height: 1.29;
  padding-left: 28px;
}
.body-assess-data .detail-content .weight-offset-data .offset-info .name {
  background: url(../../assets/images/svg/icon-foot.svg) no-repeat left center;
  background-size: 19px 19px;
  line-height: 22px;
}
.body-assess-data .detail-content .weight-offset-data .offset-result {
  padding: 16px 0;
  border-top: 1px solid #2b2d40;
}
.body-assess-data .detail-content .weight-offset-data .offset-result p {
  text-align: left;
  line-height: 1.29;
  padding-left: 28px;
}
.body-assess-data .detail-content .weight-offset-data .offset-result .name {
  background: url(../../assets/images/svg/asse_msg_icon.svg) no-repeat left center;
  background-size: 19px 19px;
  line-height: 22px;
}
.body-assess-data .asse-btn-action {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}
.body-assess-data .asse-btn-action img {
  width: 200px;
  height: 40px;
}
