#app {
    .report-result-page .report-wrapper {
        .top-show-message {
            .person-failed-img {
                margin-top: -10px;
                padding-left: 12px; 
            }
        }
    }

    .report-result-page.report-result-two {
        .report-wrapper {
            .report-result {
                padding-top: 4px;
                .result-wrapper {
                    > div {
                        padding-bottom: 30px;
                        &.last-suggest {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
    .report-result-page.report-result-three {
        .report-wrapper {
            .report-result {
                .result-wrapper {
                    > div {
                        padding-bottom: 40px;
                        &.last-suggest {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}
