*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "PingFang SC", "Source Sans Pro","Helvetica Neue", Helvetica, Arial, "Noto Sans CJK SC";
}
html{
    width: 100%;
    height: 100%;
}
button{
    border-style: none;
}